<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notificaciones">

    <!-- asignamos los permisos de la tarjeta y de audio-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--PERMISO DE ALARMA-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--PERMISOS DUPLICADOS
         <uses-permission android:name="android.permission.READ_CALENDAR" />
             <uses-permission android:name="android.permission.WAKE_LOCK" />
     -->
    <!--PERMISO DE ALARMA en principio todo vibracion escribir y leer  el reloj el calendatio -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--hay que modificar el manifest asi poniendo esto tal cual o no volveremos a la pantalla principal -->
        <activity android:name=".OirNotificacionActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--NUEVA ACCION-->
                <action android:name="android.intent.action.SET_ALARM"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--para que nuestra clase servicio funcione hay que ponrla aqui como un servicio-->
        <service android:name=".MostrarNotificacionService"/>
        <receiver
            android:name=".MostrarNotifyBroadcastReceiver"
            android:process=":remote" >
        </receiver>
    </application>

</manifest>